.footer {
  display: flex;
  background-color: #68966b;
}

.footer-left img {
  width: 60%;
  height: 80%;
}

.footer-left {
  display: flex-start;
  width: 30%;
  margin-left: 5vw;
}
 
.footer-left h3 {
  font-size: 24px;
}

.footer-right {
  margin-top: 5vh;
  display: flex;
  gap: 10vw;
  margin-right: 5vw;
}

.footer-right {
  font-size: 18px;
}

.footer-right h6 {
  font-size: 24px;
}

.form input {
  padding: 12px;
  border-radius: 10px;
  margin-right: 2vw;
  width: 300px;
}

.form button {
  border-radius: 40px;
  padding: 10px;
  background-color:#84b187;
  border: 1px solid black;
}

.contact {
  margin-top: 10vh;
  display: flex;
  gap: 2vw;
}

.contact .contact-button {
  padding: 5px 14px 12px 14px;
  border-radius: 10px;
  font-size: 24px;
  background-color:#84b187;
  border: 1px solid black;
}


/* both phones and tablet */
@media only screen and (max-width: 1204px) {
  .footer-left {
    margin: 0;
  }
  .footer-right {
    margin: 0;
  }
}

/* for phones */
@media all and (max-width: 480px) {
  .footer-left {
    display: none;
  }
  
  .footer-right {
    margin: 3vh;
    display: inline;
  }

  .contact .contact-button {
    margin-top: 0;
  }

  .contact {
    margin-top: 0;
    margin-bottom: 7vh;
  }

  .form button {
    margin-top: 1vh;
  }
} 

/* for tablet */
@media only screen and (min-width: 480px) and (max-width: 1204px) {
  .footer-left h3 {
    display: none;
  }

  .footer-left {
    margin: 2vh;
    width: 70%;
  }

  .footer-right {
    margin: 2vh;
    display: inline;
  }

  .contact {
    margin-top: 0;
    margin-bottom: 7vh;
  }

  .form button {
    margin-top: 1vh;
  }
}
